@media(orientation: portrait;){
  
  #aboutParagraph{
    height: min-height;
  }
}

*{
  margin: 0;
  padding: 0;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: black;
  position: fixed;
  width: 100%;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: black;
  color: white;
}

body{
  font-family: Source Code Pro, Helvetica, sans-serif;
}


#welcomeSection{
  width: 100%;
  min-height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  background-image: url(https://cdn.pixabay.com/photo/2013/02/20/11/30/autumn-83761_960_720.jpg);
  background-repeat: none;
  background-size: cover;
}

#projects{
  background: url(https://cdn.pixabay.com/photo/2014/02/07/10/19/winter-260817_960_720.jpg);
  background-repeat: none;
  background-size: cover;
  color: white;
  min-height: 100vh;
  width: 100%;
}

#projectTitle{
  text-align: center;
  padding: 20px;
  color: black;
}


.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.column {
  width: 100%;
  padding: 10px;
  display: flex;
}

.project{
  width: 100%;
  height: auto;
  border: 3px solid white;
}

.projLink a{
  text-decoration: none;
  color: white;
}

.projLink a:hover{
  color: purple;
  text-decoration: underline;
}

#about{
  min-height: 100vh;
  width: 100%;
  background: url(https://cdn.pixabay.com/photo/2016/07/11/20/37/flower-meadow-1510602_960_720.jpg);
  background-repeat: none;
  background-size: cover;
}

#aboutTitle{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  color: black;
  font-size: 35px;
}

#aboutParagraph{
  display: flex;
  align-items: center;
  font-size: 25px;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  background-color: rgba(255,255,255, .7);
}

#aboutParagraph a{
  color: black;
  text-decoration: underline;
}

#aboutParagraph a:hover{
  color: purple;
}

#contactMe{
  background: url(https://cdn.pixabay.com/photo/2014/12/15/17/16/pier-569314_960_720.jpg);
  min-height: 100vh;
  width: 100%;
  background-repeat: none;
  background-size: cover;
}

#contactTitle{
  font-size: 35px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.contactLinks{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.contactLinks a{
  color: black;
}

.contactLinks a:hover{
  color: purple;
}
